{% extends 'base.html' %}

{% block body %}
<div class="w3-bar w3-border w3-light-grey">
	<div class="w3-content">
		<a href="{{ url_for('index') }}" class="w3-bar-item w3-hover-light-grey w3-button"><b>Food tracker</b></a>
		<a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Home</a>
		<a href="{{ url_for('food') }} " class="w3-bar-item w3-button">Add food item</a>
	</div>

</div>
<div class="w3-content w3-margin-top">

	<form class="w3-container w3-card-2" action="/" method="POST">
		<p>
			<label class="w3-text-blue"><b>Add day</b></label>
			<input placeholder="Add date in format YYYY-MM-DD" class="w3-input w3-border" name="date" type="text">
		</p>
		<p>
			<button class="w3-btn w3-blue">Add</button>
		</p>
	</form>

	{% for r in results %}
	<div class="w3-card-2 w3-margin-top">
		<header class="w3-container w3-blue">
			<h3> {{ r.pretty_date }}</h3>
			<a class="w3-button w3-margin-bottom" href="{{ url_for('view', date=r.entry_date) }}">View details</a>
		</header>
		<div class="w3-row">
			<div class="w3-container w3-col l3">
				<p>Protein: <span class="w3-badge w3-green">{{ r.protein }}</span></p>
			</div>
			<div class="w3-container  w3-col l3">
				<p>Carbohydrates: <span class="w3-badge w3-green">{{ r.carbohydrates }}</span></p>
			</div>
			<div class="w3-container  w3-col l3">
				<p>Fat: <span class="w3-badge w3-green">{{ r.fat }}</span></p>
			</div>
			<div class="w3-container w3-col l3">
				<p>Calories: <span class="w3-badge w3-green">{{ r.calories }}</span></p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}